.design{
    padding-top:80px ;
    padding-bottom: 52px;
    color: #fff;
    p{
        line-height: 1.5rem;
        font-weight: 600;
    }
    h2{
        margin-top: 0;
    }
    .hide{
        display: none;
    }
    @media (max-width:992px){
        padding-top: 44px;
        padding-bottom: 44px;
        .date{
            display: none;
        }
        .showCard{
            flex-direction: column-reverse;
        }
        .hide{
            display: block;
            margin-top: 16px;
            margin-bottom: 8px;
        }
        h2{
            margin-bottom: 8px;
        }
    }
}

