.showImg{
    background: url(https://hexschool.github.io/webLayoutTraining1st/exhibition-week6/alina-grubnyak-R84Oy89aNKs-unsplash.jpg) center center;
    color: #fff;
    background-size: cover;
    p{
        line-height: 2rem;
        font-size: 1.25rem;
        font-weight: 600;
    }
}
.design-Info{
    margin-top: 80px;
}
.designImg{
    height: 256px;
}

.showtext{
    margin-top: 8px;
    padding: 1rem 0;
    img{
        width: 20px;
        height: 20px;
    }
    h3{
        font-size: 1.25rem;
        font-weight: bold;
        margin-right: 8px;
        margin-bottom: 8px;
        
    }
    p{
        line-height: 1.5rem;
    }
}

.imgText{
    top: 30%;
    right:5%;
    font-size: 1.25rem;
    color: #fff;
    font-weight: 600;
}

.ticketNum{
    margin-top: 88px;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 23px;
    p{
        margin-left: 40px;
        margin-right: 40px;
    }
}

.totalPrice{
    margin-top: 88px;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 23px;
}
.ticketBox {
    height: 256px;
}

.ticketType{
    li{
        padding: 4px 8px;
    }
}

.design-Info{
    .links{
        margin-top: 42px;
    } a{
        width: 50%;
    }
    
}

.setBord{
    border-right: $primaryColor 1px solid;
    @media (max-width:768px){
        border-right:none;
    }
}

@media (max-width:768px){
    .ticketBox {
        height: unset;
    }
    .totalPrice,.ticketNum{
        margin-top: 40px;
    }
    .design-Info{
        margin-top: 44px;
    }
}

.mid-banner{
    background: url(https://hexschool.github.io/webLayoutTraining1st/exhibition-week6/max-van-den-oetelaar-IMYe9uYN27E-unsplash.jpg) center center;
    background-size: cover;
    height: 400px;
    margin-top: 40px;
}

.calebration{
    img{
        height: 559px;
    }
    margin-top: 32px;
    h3{
        font-size: 1.25rem;
        font-weight: 600;   
    }
    p{
        line-height: 1.5rem;
        color: $logGrey;
    }
    .hide{
        display: none;
    }

}

@media (max-width:768px){
   .mid-banner{
       display: none;
   } 

   .calebration{
       margin-top: 40px;
    img{
        margin-top: 20px;
        }
        .hide{
            display: block;
            height: 400px;
        }
        .d-md-flex{
            flex-direction: column-reverse;
        }
    }
    
}

.showtext{
    .dateMark{
        display: none;
    }
}

@media (max-width:992px){
   .imgText{
       display: none;
   } 
   .showtext{
       .dateMark{
           display: block;
       }
   }
}
@media (max-width:576px){
    .showtext{
        .dateMark{
           font-size: .6rem;
        }
    }
}