.header{
    position: relative;
    padding-top:28px ;
    padding-bottom: 28px;
    border-top: $logGrey 1px solid;
    border-bottom: $logGrey 1px solid;

    h1{
        font-weight: bolder;
        font-size: 1.375rem;
    }
    .logBlock{
        position: absolute;
        top: 50%;
        right: 0;
        a{
            color:$logGrey;
            margin-left: 8px;
        }
        .itemNumber{
            position: absolute;
            top: -10px;
            right: -10px;
            padding: 1px 6px;
            border-radius: 50%;
            color: #fff;
        }
    }
    @media (max-width:768px){
        .signIn ,.signUp{
            display: none;
        }
    }
}
.footer{
    margin-top: 60px;
}

.logBlock{
    font-size: 1rem;
    align-items: center;
}

.footerBody{
    height: 400px;
    background: url(https://hexschool.github.io/webLayoutTraining1st/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg) center center;
    background-size: cover;
    padding-bottom: 2.25rem;
    h3{
        font-size: 2rem;
        color: #fff;
        font-weight: bold;
        line-height: 3rem;
    }
    .btn{
        padding: 0.75rem 3.75rem;
    }
}

.webInfo{
    // padding: 28px 0;
    .webInfoTitle{
        font-size: 1.5rem;
    }
    .webInfotext{
        font-size: 1rem;
    }
    .logBlock{
        a{
            color:$logGrey;
        }
    }
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }



@media (max-width:960px){
    .webInfo{
        .webInfoRights{
            flex-wrap: wrap;
        }
    .logBlock{
        display: none;
        }
    }
    .webInfotext{
        line-height: 21px;
    }
}

@media (max-width:540px){
    .footerBody{
        h3{
            font-size: 1.5rem;
        }
    }
    .header{
        h1{
            font-size: 1.375rem;
        }
    }
}

@media (max-width:768px){
    .footerBody .btn {
        padding: 11px 52px;
    }
}
.modal-dialog {
    margin: 0 auto; 
}


.modal.right .modal-dialog {
    position: fixed;
    top:83px;
    right: 0;
    width: 100%;
    height: calc(100vh - 83px);
    margin: 0;
    transform: translate3d(0%, 0, 0);
  }
  
  .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
  }
  .modal {
    &-content {
      border-radius: 0;
      border: none;
    }
    &-header {
      border-bottom: none;
    }
    &-body{
      .card{
        max-width: 540px;
      }
    }
    &-footer {
      border-top: none;
      background-color: #000;
      width: 100%;
    }
  }

.headerCart{
    .modal-body,.modal-header{
        background-color: #000;
    }
    .modal-body .card{
        border-radius: 2px;
    }
    .modal-body img{
        width: 120px;
        height: 120px;
        
    }
    
    .modal-header{
        border-radius: unset;
        h5{
            font-size: 2rem;
            font-weight: bold;
            color: #fff;
        }
        button{
            color:white;
        }
    }

    .card-body{
        padding: 0 1rem;
        h5{
            font-weight: bold;
            margin-bottom: 4px;
        }
    }
    .ticketNum{
        margin: 0;
        p{
            margin: 0 12px;
            font-size: 1.25rem;
        }
    }
    .price{
        font-size: 1.25rem;
        font-weight: bolder;
    }
    .modal-footer{
        color: #fff;
        .total{
            font-weight: bold;
        }
    }
}

@media (max-width:576px){
    .headerCart{
        .cardLeftTop{
            h5{
                font-size: 1rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
}

.navActive{
    border-bottom: 1px solid $primaryColor;
}
  