
.timeline-section {
	position: relative;
    margin: 30px 0;
}

.timeline-section::after {
	content: "";
	position: absolute;
	left: 0;    
	right: 0;
	height: 3px; 
	background-color: #E31277;
}

.timeline-pointer{
	position: relative;
    display: flex;
    justify-content: center;
    P{
        margin-top: 12px;
    }
}


.timeline-pointer::before {
	content: "";
	position: absolute;
	left: 50%;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	transform: translate(-50%,-25%);
    border: $primaryColor 1px solid;
	background-color: #fff;
    z-index: 3;
}

.step{
    P{
        font-weight: 600;
    }
}

.step::before {
	content: "";
	position: absolute;
	left: 50%;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	transform: translate(-50%,-25%);
    // border: $primaryColor 1px solid;
	background-color: $primaryColor;
}



.ticketType{
    color: $logGrey;
}


.Itemside{
    h3{
        font-weight:600 ;
    }
}
.priceside{
    font-weight: 600;
}

.numberSide{
    p{
        margin: 0 12px;
        font-weight: 600;
    }
}

.orderTotal{
    .total{
        font-weight: 600;
    }
    button{
        width: 100%;
        margin-top: 12px;
    }
}
.orderItem{
    margin-bottom: 20px;
}

.backBtn{
    width: 100%;
}

.ordererInfo{
    h3{
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .submitForm div{
        display: flex;
        flex-direction: column;
        label{
            margin-bottom: 4px;
        }
        input{
            padding: 7px 12px;
        }
        p{
            text-align: right;
            font-size: .75rem;
            margin-top: 4px;
        }
    }
}

.ordererTotal{
    .grayColor{
        color: gray;
        font-weight: normal;
    }
}



.nextBtn{
    display: none;
}

@media (max-width:768px){
    .ordererTotal{
        margin-bottom: 24px;
    }
    .nextBtn{
        display: block;
        margin-left: 4px;
    }
    .back,.nextBtn{
        min-width: 50%;
    }
}